a {
  text-decoration: none;
}

.top {
  padding: 50px;
  text-align: center;
  background-color: rgb(198, 236, 181);
}

.top span {
  display: inline-block;
  margin: 5px auto;
  text-align: center;
  font-size: 50px;
  color: #999;
}

.top .identity {
  position: absolute;
  left: 30px;
  top: 30px;
  text-align: left;
  line-height: 24px;
  border: 3px solid rosybrown;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  color: rosybrown;
}

img {
  width: 200px;
  margin-top: 30px;
  margin-right: 50px;
}

.back {
  position: absolute;
  right: 20px;
  top: 20px;
}

.search {
  margin: 40px auto;
  height: 30px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.search input {
  border: 0;
  margin: 5px 10px;
  width: 92%;
}

input::placeholder {
  color: #ccc;
}

.search:hover {
  border: 2px solid #999;
}

.search input:focus {
  outline: none;
}

button {
  width: 120px;
  height: 40px;
  background-color: rgb(138, 176, 248);
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
}

button a {
  color: aliceblue;
}

.line {
  background-color: #ccc;
  height: 5px;
}

form {
  margin: 30px 360px;
  padding: 40px 60px;
  border: 6px solid rgb(219, 232, 248);
  border-radius: 20px;
}

form button {
  position: absolute;
  right: 28px;
  width: 100px;
  background-color: rgb(197, 240, 192);
  color: rgb(172, 194, 241);
  border: 3px solid rgb(192, 227, 255);
  height: 28px;
  font-size: 16px;
  font-weight: normal;
}

form button:hover {
  background-color: coral;
  border: 3px solid pink;
  color: ivory;
  font-weight: 800;
}

.id,
.account,
.pwd {
  position: relative;
  border: 1px dotted #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(103, 92, 179);
}

