/* 公共样式 */
<style>
/* 页面头部 */
#header{
	position: fixed;
	width: 200px;
	padding-top: 10px;
}

#header span {
	display: inline-block;
	font-size: 20px;
	color: #0082be;
	margin-right: 30px;
	margin-top: 20px;
	float: right;
}

#header span:hover {
	color: #00aef8;
	cursor: pointer;
}

/* 侧边栏 */
#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 1050px;
	color: #666666;
	border-right: 2px solid #666666;
	background: linear-gradient(to bottom, #9fd2c1, #f2e6fe);
	padding: 20px 10px 0 5px;
}

#sidebar,
#sidebar img {
	width: 160px;
}

#sidebar ul li {
	font-size: 16px;
	list-style: none;
	padding: 10px 10px;
}

#sidebar ul,
h1 {
	font-size: 20px;
	margin-top: 20px;
}

#sidebar ul li:hover {
	color: #888888;
	cursor: pointer;
}

/* 版心 */
#container {
	position: relative;
	top: 20px;
	clear: both;
	width: 1100px;
	margin-left: 178px;
	box-shadow: 3px 3px 5px 3px #c4c4c4;
}
</style>