#exam-notes{
	clear: both;
}
#exam-notes ul{
	margin-top: 50px;
}
#exam-notes .notes-head li,#exam-notes .notes-main li{
	float: left;
	width: 25%;
	color: #7D9EDB;
	background: lightblue;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid silver;
	border-top: none;
	border-right: none;
	margin-top: 1px;
}
#exam-notes .notes-main li{
	color: #000000;
	margin-top: 0;
	font-weight: normal;
	background: #FFFFFF;
}