a {
  text-decoration: none;
}

.top {
  padding: 50px;
  text-align: center;
  background-color: rgb(198, 236, 181);
}

.top span {
  display: inline-block;
  margin: 5px auto;
  text-align: center;
  font-size: 50px;
  color: #999;
}

img {
  width: 200px;
  margin-top: 30px;
  margin-right: 50px;
}

.exit {
  position: absolute;
  right: 20px;
  top: 20px;
}

button {
  width: 120px;
  height: 40px;
  background-color: rgb(138, 176, 248);
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
}

button a {
  color: aliceblue;
}

.line {
  background-color: #ccc;
  height: 5px;
}

.jump {
  float: left;
  margin: 100px 100px;
  height: 100px;
  width: 200px;
  background-color: rgb(138, 176, 248);
  border: 3px solid #ccc;
  border-radius: 15px;
  text-align: center;
  line-height: 100px;
}

.jump a {
  color: rgb(103, 89, 163);
  font-size: 28px;
  font-weight: 700;
}