a {
  text-decoration: none;
}

.left {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: rgb(198, 236, 181);
}

.left img {
  width: 80%;
  margin: 10%;
}

.title {
  margin: 25%;
  font-size: 28px;
  font-weight: 700;
  color: rgb(84, 184, 142);
}

.line {
  margin: 16px 0;
  background-color: #bbb;
  height: 5px;
}
.sum {
  height: 25%;
  padding: 10px 40px;
}

.sum .item {
  height: 33%;
  margin: 10px 40px;
}

.sum .item a {
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
  color:rgb(121, 118, 168);
}

.sums {
  font-size: 18px;
  color: rgb(96, 90, 102);
  margin: 30px 40px;
}

.sums .finished {
  color: coral;
  font-weight: 700;
}

.time {
  margin: 30px 30px;
  color: #999;
}

.finish {
  margin: 10%;
  height: 60px;
  width: 160px;
  border: 3px solid #ccc;
  border-radius: 20px;
  background-color: rgb(178, 208, 247);
  font-size: 20px;
}

form {
  padding-top: 40px;
  margin-left: 25%;
}

.single-item {
  /* margin-left: 20px; */
  margin-right: 20px;
  margin-bottom: 20px;
  
  width: 100%;
}

.question {
  margin-right: 30px;
  padding: 0 20px;
  height: 35px;
  line-height: 30px;
  background-color: #ddd;
  border-radius: 8px;
}

.type {
  margin: 3px 5px;
  width: 30px;
  font-size: 12px;
  background-color: rgb(172, 209, 252);
  border: 2px solid #999;
  border-radius: 6px;
  color: #666;
}

.choices {
  margin: 5px;
  padding-left: 20px;
  line-height: 20px;
}

ul li {
  height: 30px;
  line-height: 30px;
  color: #666;
}