<style>
#exam-list{
	clear: both;
}
#exam-list .list-head {
	list-style-type: none;
	overflow: hidden;
	margin-top: 50px;
}

#exam-list ul li {
	float: left;
	width: 33.33%;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	margin-top: -1px;
}

#exam-list .list-head li{
	font-size: 18px;
	color: #7D9EDB;
	font-weight: bold;
	background: lightblue;
}
#exam-list .list-main li{
	font-weight: normal;
}
#list-delete{
	width: 80px;
	height: 30px;
	color: #FFFFFF;
	background-color: #008DC9;
	border: 2px solid #008DC9;
	border-radius: 5px;
}
#list-delete:hover{
	background-color: #00AEF8;
	border: 2px solid #00AEF8;
	cursor: pointer;
}
</style>